@using DatabaseWork.DataClasses;
@using DatabaseWork.DataClasses.Tasks;

@using System.Text.Json;

@model DisplayModel;

<div>
	<form asp-action="Index" asp-controller="DataWorker">
		<input type="submit" value="Назад" />
	</form>
</div>

<div>
    <form asp-action="Index" asp-controller="FileExporter">
        <div>
            <input name="json_model" type="hidden" value="@ViewBag.SerializedModel" />
            <select name="file_extension">
                <option value="word">word</option>
                <option value="excel">excel</option>
            </select>

            <input type="submit" value="Сохранить" />
        </div>
    </form>
</div>

<table>
    <tr>
        <th>Профиль</th>
        <th>Компетенция</th>
        <th>Дисциплина</th>
        <th>Текст задания</th>
        <th>Правильный ответ</th>
        <th>Варианты ответов</th>
    </tr>
    @foreach (var task in Model.TaskCompetenceDisciplineData)
    {
        <tr>
            <td>
                @task.ProTitle
            </td>
            <td>
                @task.CompNumber
            </td>
            <td>
                @task.DisTitle
            </td>
            <td>
                @task.TaskAnnotation
            </td>
            <td>
                @Extractor.GetAnswerVariants(Model, task, Extractor.GetTasksValidAnswerVariants)
            </td>
            <td>
                @Extractor.GetAnswerVariants(Model, task, Extractor.GetTasksAnswerVariants)
            </td>
        </tr>
    }

</table>