@using DatabaseWork.DataClasses;
@using DatabaseWork.DataClasses.Tasks;
@model DisplayModel;
@functions {
    
}

<div>
	<form asp-action="Index" asp-controller="DataWorker">
		<input type="submit" value="Назад" />
	</form>
</div>


<form id="ModelData" method="get">
<table>
    <tr>
        <th>Профиль</th>
        <th>Компетенция</th>
        <th>Дисциплина</th>
        <th>Текст задания</th>
        <th>Правильный ответ</th>
        <th>Варианты ответов</th>
    </tr>
    @foreach (var task in Model.TaskCompetenceDisciplineData)
    {
        <tr>
            <td>
                @task.FullDCLink.CompetenceLink.ProfileLink.ProTitle
            </td>
            <td>
                @task.FullDCLink.CompetenceLink.CompNumber
            </td>
            <td>
                @task.FullDCLink.DisciplineLink.DisTitle
            </td>
            <td>
                @task.TaskLink.TaskAnnotation
            </td>
            <td>
                @Extractor.GetAnswerVariants(Model, task.TaskLink, Extractor.GetTasksValidAnswerVariants)
            </td>
            <td>
                @Extractor.GetAnswerVariants(Model, task.TaskLink, Extractor.GetTasksAnswerVariants)
            </td>
        </tr>
    }

</table>


<div>
    <input type="submit" id="wordSubmit" />
    <input type="submit" id="excelSubmit" />
</div>
</form>

<script>
    document.getElementById("ModelData").addEventListener("submit", function(event) {
        event.preventDefault();

        let form = document.getElementById("ModelData");
        let buttonClicked = event.submitter.id;

        if (buttonClicked === "wordSubmit") {
            form.action = "@Url.Action("WordExport", "FileExporter")";
        } else if (buttonClicked === "excelSubmit") {
            form.action = "@Url.Action("ExcelExport", "FileExporter")";
        }

        form.submit();
    });
</script>