@model List<Competention>

<h2>Компетенции</h2>

@using (Html.BeginForm("Home", "Competentions", FormMethod.Post))
{
	<table>
		<tr>
			<th>Номер компетенции</th>
			<th>Имя</th>
			<th>Результаты обучения</th>
			<th>Тип ОМ</th>
			<th>Показатели оценивания</th>
		</tr>

		@foreach (Competention item in Model)
		{
			int ev_mat_count = item.EvalulationMaterial.Count;
			<tr>
				<td rowspan="4">
					@item.Number
				</td>
				<td rowspan="4">
					@item.Name
				</td>

				@foreach (EvalulationMaterial ev_mater in item.EvalulationMaterial)
				{
				<tr>
					<td>
						<div style="font-size: 20px;">
							<strong>
									@ev_mater.Name
							</strong>
						</div>
						<div>
								@ev_mater.Description
						</div>
					</td>
					<td>
							@ev_mater.EM_Type
					</td>
					<td>
							@ev_mater.EvalulationIndicator
					</td>
				</tr>
				}

			</tr>
		}
	</table>
}
<br/>